body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color:  linear-gradient(#054A91); /* cor de fundo */
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTk-X39_6docIvs9E3pCRaEnWgF7SRc1oMtUA&s');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 150% auto;
    background-attachment: fixed;
}

.loginContainer{
    background-color: red;
    padding: 30px;
    width: 400px;       
    text-align: center;
}
button {
    background-color:brown;
    color:aquamarine;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 10px;
}

div:hover {
    background-color:aquamarine;
    color: red;
}

meu-botao {
    background-color: darkslateblue;
    color:aqua;
    padding: 20px 10px;
    border: none;
    cursor: pointer;
    transition: background-color 0.4s ease;
}
