body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTmAUdo-UIxQunt6P37UXUUGP3IhlBO2SuC7g&s');
    background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     background-size: 150% auto;
     background-attachment: fixed;
    }
button {
    margin: 5px;
    padding: 10px;
    font-size: 16px;
}
input {
    padding: 5px;
    margin: 5px;
}